<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="Untitled.css">
</head>
<div id="header" class="navbar navbar-default">
	<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>Learny</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="loggedin"><a ui-sref="app.home">Home</a></li>
                        <li ng-show="loggedin"><a ui-sref="app.profile">Profil</a></li>
                        <li ng-show="loggedin"><a ui-sref="app.subjects">Alle Fächer</a></li>
		                <li ng-show="loggedin"><a href="#logout" ng-click="logout()">Logout</a></li>
		                <li ng-show="welcomepage"><a ng-click="toggleLogin(); $event.preventDefault();" href="#">Login</a></li>
                    </ul>
                    <learnyloginform ng-show="showlogin"></learnyloginform>
                </div>
    </div>
</div>
